@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div >
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption bold font-blue">
                <i class="font-blue"></i> Ana sayfa
            </div>
        </div>
        <div class="portlet-body">
            <form role="form" class="form-horizontal ng-pristine ng-valid ng-valid-maxlength" novalidate="novalidate">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Merhaba!</h1>
                            <p>
                                 <strong>Bayi Bildirim Sistemi</strong>'ne
                            </p>
                            <p></p>
                            <p>Hoşgeldiniz..</p>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        //indigoBootstrap(["HomeIndexCtrl"]);
    </script>

}